/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
.headers{
  font-style:oblique;
  color: rgb(255, 234, 0);
  margin-left: 37%;
}

#amount{
  font-size: x-large;
  text-align: left;
  text-align: center;
}

.title{
  
    font-size: xx-large;
    float: right;
    height: 100px;
    text-align: center;

  }



#getfotm {
  margin-left: 30%;

}

.mDesc{
  display: block;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-size: large;


}

p{
  color: black;


}

#base {
  
  background-color: #1b4bab; /* Used if the image is unavailable */
  position: absolute;
}
.release{
  float: left;
  width: 50%;

}


.release{
  display: -webkit-flex; /* Safari */
    display:grid;
    margin: 10px;
    align-items: flex-start;
    
    
}
#resultsbox {
  display: -webkit-flex; /* Safari */
  display: grid;
  margin: 10px;
  align-items: flex-start;
  column-gap: 50px;
  grid-template-columns: auto auto auto auto   ;
  background-color: #2196F3;
  padding: 10px;
  }
  @media only screen and (max-width: 1100px) {
    #trending {
      margin-right: 0%;
    width: 99%;
    }
  }

.resultM {
    display: -webkit-flex; /* Safari */
    display: grid;
    margin: 10px;
    height: 100%;


    border:2px solid black;
    border-radius: 4px;
    border-style: double none none none;

  }
  


.border{
  display: -webkit-flex; /* Safari */
  display: grid;
  margin: 10px;


  border:2px solid black;
  border-radius: 4px;
  border-style: double none none none;

}






.Search {

  width: 99.4%;
  height: auto;


}




  #tgetfotm {
    float: right;
 }
 
 #getfotm{
  float: right;

 }


  .tposterImage{
    border-radius: 8px;
    width: 250px;
    height: 350px;
    margin: 50px;
    border: 4px solid black;
padding: 5px;

}


.posterImage{
  border-radius: 8px;
  width: 250px;
  height: 350px;
  margin: 50px;
  border: 4px solid black;
padding: 5px;


}

    
 /* Remove the navbar's default margin-bottom and rounded borders */ 
 .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }

  

#done {


  margin-left: -14%;
}



  #tvote {

font-size: 1vw;
color: rgb(0, 252, 0);
text-align: center;

  }

  #vote {

    font-size: 1vw;
    color: rgb(0, 252, 0);
    text-align: center;
      }
    

      .countDown {

        color: rgb(145, 0, 0);
        font-size: 1.3vw;
        text-align: center;
      }

      #logingbox {

        width: 40%;
        height: auto;
        margin-left: 30%;
        background-color: gray;
        text-align: center;
        
        }
        .CenterB {
          height: 100vh;
          }

           .SignB {
            margin-top: 10px;    
            }



* {
  box-sizing: border-box;
}

/* style the container */
.container {
  position: relative;
  border: 1px solid black;
  background-color: rgb(204, 204, 204);
  padding: 20px 0 30px 0;
  border-radius: 4px;
  margin-top: 1%;
} 

/* style inputs and link buttons */
.First,
.btn {
  color: black;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}


.borders{

border: 1px solid black;
border-radius: 5px;;

}


input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
  margin-top: 20px;
  width: 70%;
  margin-left: 15%;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}


.g-signin2{
  color: black;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}


button {

width: 10%;
border-radius: 10%;
margin-top: 20px;
margin-left: 10px;

}


.Rag {
padding: 12px;
border: none;
border-radius: 4px;
border:1px solid black;
margin: 5px 0;
opacity: 0.85;
display: inline-block;
font-size: 17px;
line-height: 20px;
text-decoration: none; /* remove underline from anchors */
}

.jumbotron {
  background-color: #666;
  font-size: medium;
  border-left: 1px solid black;
  border-right:1px solid  black;
  border-bottom:1px solid  black;
  text-align: center;
}

