#tamount{
  font-size: x-large;
  margin-left: 30%;
  
}

.ttitle{
  font-size: xx-large;
  float: right;
  height: 100px;
  text-align: center;

}




#tgetfotm {
 margin-left: 79.5%;
}



.tmDesc{
  display: block;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-size: large;

}





.trelease{
  margin-left: 2.5%;
  width: 95%;
  display: -webkit-flex; /* Safari */
  display: grid;
  margin-right: 25%;
  align-items: flex-start;
}


@media only screen and (max-width: 1200px) {
  .trelease{
    margin-left: 0%;
  width: 100%;
  }
}

#trending {
  display: -webkit-flex; /* Safari */
  display: grid;
  margin: 10px;
  align-items: flex-start;
  column-gap: 50px;
  grid-template-columns: auto auto auto auto   ;
  background-color: #2196F3;
  padding: 10px;
  }
  @media only screen and (max-width: 1200px) {
    #trending {
      margin-right: 0%;
    width: 99%;
    }
  }



  fav


  #fav {
    margin: 10px;
    align-items: flex-start;
    column-gap: 50px;
    grid-template-columns: auto auto auto auto   ;
    background-color: #465866;
    padding: 10px;
    }
    @media only screen and (max-width: 1200px) {
      #fav {
        margin-right: 0%;
      width: 99%;
      }
    }







  
.tresultM {
    display: -webkit-flex; /* Safari */
    display: grid;
    margin: 10px;
  height: 100%;



    border:2px solid black;
    border-radius: 4px;
    border-style: double none none none;
  }
  

.tposterImage{
    border-radius: 8px;
    width: 250px;
    height: 350px;
    margin: 50px;
    border: 4px solid black;
padding: 5px;

}
.prImage{

  width: 100px;
  height: 100px;
  border-radius: 10px;

}

