<!DOCTYPE html>

<head>
	<%- include('../partials/trendingHead')%>
	
</head>

<body id="base">
	<header><%- include('../partials/header')%></header>



	  
		<h1 class="headers">Server maintenance,vrfewq we appologise for the inconvenience</h1>
		
        
        <img src="<%= img %>"  class = "prImage" />
		
				




  
	
</body>

</html>