<!DOCTYPE html>
<html>

<head>

  <%- include('../partials/trendingHead')%>
  
</head>


<body class="sBase" >








  
    <header>
      <%- include('../partials/header', {loggedIn: false})%>
    </header>

  <main>
    <div class="CenterB">
      <div class="container" >

        <!-- message confirming that the user has been logged out -->
        <h2 style="text-align:center">You have been logged out</h2>

      </div>
      
      <div class="bottom-container">
        <div class="row">

          <!-- button to redirect user to home page -->
          <form action="/">
            <button type="submit" style="margin: top 10px;">Back to Home Page</button>
          </form>
         
        </div>
      </div>

    </div>
  </main>

</body>

</html>