<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>SMovie</title>
  <link rel="stylesheet" href="css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="js/trending.js"></script>
  <link rel="stylesheet" href="css/trend.css">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="833087600807-tkkdl76sjb1icnhrl1p8fgkhjh3p33in.apps.googleusercontent.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- these scripts are meant to be ran individually just uncomment the one you want to investigate.
They are in order of progression-->

	<script src="js/index2.js"></script>
  <link rel="stylesheet" href="css/style.css">