<!DOCTYPE html>

<head>
	<%- include('../partials/trendingHead')%>
	
</head>

<body id="base">
	<header><%- include('../partials/header')%></header>



	  <section class = "trelease">
		<h1 class="headers">The Upcoming Movies</h1>
		<p id="tamount"> </p>
		<div class="Search">
		<form id="getfotm">
			<input type="text" id="pageNum">
			<input type="submit" value="Submit">
		
			  </form>
			</div>
			<div id="resultsbox"></div>
				




  
	
</body>

</html>
