<!DOCTYPE html>

<head>
	<%- include('../partials/trendingHead')%>
</head>

<body id="base">
	<header><%- include('../partials/header')%></header>




		<section class="trelease">

       
			<h1 class="headers">Trending Movies Today</h1> 
 
			<p id="amount"></p>
            <div class="Search">
			<form id="tgetfotm">
                
				<input type="text" id="tpageNum">
				<input type="submit" value="Submit">
            </div>
	
	
		<div id="trending"></div>

		
	
	  	

		</section>



  
	
</body>

</html>
